# <u><center>Project 2 - Part 3B:ransform and Load (Core)</u>
* Authored by: Eric N Valdez
* Date: 1/25/24

In [1]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\valde\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\valde\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\valde\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\valde\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\valde\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\valde\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2023.5.7)

In [2]:
import json
with open('/Users/Valde/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [3]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [4]:
import os
import pandas as pd
import time
from tqdm.notebook import tqdm_notebook
FOLDER = "1218 Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'Genres.png',
 'genres.sql',
 'IMDB Movie Dataset Info.docx',
 'imdb.png',
 'imdb.sql',
 'title-akas-us-only.csv',
 'title-basics.csv',
 'title-ratings.csv',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json']

In [5]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('1218 Data/title-basics.csv')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
87003,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
87004,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
87005,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
87006,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
87007,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [6]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    movie_info = movie.info()
    
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            movie_info['certification'] = c['certification']
    return movie_info

In [7]:
def write_json(new_data, filename): 
    """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""    
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [8]:
YEARS_TO_GET = [2001,2002]
errors = [ ]

In [9]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',
                          position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)


    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)



    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()#.to_list()


    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)


    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        # Attempt to retrieve then data for the movie id
        try:
            temp = get_movie_with_rating(movie_id)  #This uses your pre-made function
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)

        # If it fails,  make a dict with just the id and None for certification.
        except Exception as e:
            errors.append([movie_id, e])


    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/210 [00:00<?, ?it/s]

Movies from 2002:   0%|          | 0/278 [00:00<?, ?it/s]

In [10]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("1218 Data/final_tmdb_data*.csv.gz"))
tmdb_files

['1218 Data\\final_tmdb_data_2001.csv.gz',
 '1218 Data\\final_tmdb_data_2002.csv.gz']

In [11]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.324,1261.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,4.750,4.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.395,133.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.200,32.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,tt6449044,0.0,/a9pkw8stijESGx1flSGPqcXLkHu.jpg,"{'id': 957260, 'name': 'The Conman Collection'...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,314105.0,cn,è³­ä¿ 2002,...,0.0,97.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,The Conman 2002,0.0,4.300,3.0,NaN
1295,tt6694126,0.0,/sXjVpTZyDvwzPVZve3AmyCUBeHk.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,819174.0,fa,Ø¹Ø±ÙˆØ³ Ø®ÙˆØ´â€ŒÙ‚Ø¯Ù…,...,0.0,101.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Lucky Bride,0.0,8.000,1.0,NaN
1296,tt8302928,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,866533.0,el,Movie Toons: Treasure Island,...,0.0,0.0,[],Released,NaN,Movie Toons: Treasure Island,0.0,0.000,0.0,NaN
1297,tt8474326,0.0,NaN,NaN,0.0,[],NaN,292027.0,en,Skin Eating Jungle Vampires,...,0.0,0.0,[],Released,NaN,Skin Eating Jungle Vampires,0.0,0.000,0.0,NaN
1298,tt8825252,0.0,NaN,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,989195.0,en,Circle of Fire: The Dark Lord Kylnor,...,0.0,45.0,[],Released,NaN,Circle of Fire: The Dark Lord Kylnor,0.0,0.000,0.0,NaN

In [12]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.324,1261.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,4.750,4.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.395,133.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.200,32.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,tt6449044,0.0,/a9pkw8stijESGx1flSGPqcXLkHu.jpg,"{'id': 957260, 'name': 'The Conman Collection'...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,314105.0,cn,è³­ä¿ 2002,...,0.0,97.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,The Conman 2002,0.0,4.300,3.0,NaN
1295,tt6694126,0.0,/sXjVpTZyDvwzPVZve3AmyCUBeHk.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,819174.0,fa,Ø¹Ø±ÙˆØ³ Ø®ÙˆØ´â€ŒÙ‚Ø¯Ù…,...,0.0,101.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Lucky Bride,0.0,8.000,1.0,NaN
1296,tt8302928,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,866533.0,el,Movie Toons: Treasure Island,...,0.0,0.0,[],Released,NaN,Movie Toons: Treasure Island,0.0,0.000,0.0,NaN
1297,tt8474326,0.0,NaN,NaN,0.0,[],NaN,292027.0,en,Skin Eating Jungle Vampires,...,0.0,0.0,[],Released,NaN,Skin Eating Jungle Vampires,0.0,0.000,0.0,NaN
1298,tt8825252,0.0,NaN,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,989195.0,en,Circle of Fire: The Dark Lord Kylnor,...,0.0,45.0,[],Released,NaN,Circle of Fire: The Dark Lord Kylnor,0.0,0.000,0.0,NaN

# <u>Part 3B:</u>
* For part 3 of the project you will be practicing applying an E.T.L process on your previously downloaded movie data. Specifically, you will prepare the TMDB API data and the Genres data from the title basics file for your SQL Database

In [13]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os,json

In [ ]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [ ]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [ ]:
basics.head()

In [ ]:
filtered_basics = basics.replace(r'\N', np.nan)
filtered_basics = filtered_basics.dropna(subset=['genres', 'runtimeMinutes'])
filtered_basics = filtered_basics[filtered_basics['titleType'] == 'movie']
filtered_basics['startYear'] = pd.to_numeric(filtered_basics['startYear'], errors='coerce')
filtered_basics = filtered_basics[filtered_basics['startYear'].between(2000, 2021, inclusive='both')]
filtered_basics = filtered_basics[~filtered_basics['genres'].str.contains('Documentary', na=False)]

In [ ]:
filtered_basics.info()

In [ ]:
akas.head()

In [ ]:
filtered_akas = akas[akas['region'] == 'US']
filtered_akas.replace(r'\N', np.nan)
filtered_akas.info()

In [ ]:
ratings.head()

In [ ]:
filtered_ratings = ratings.replace(r'\N', np.nan)
filtered_ratings = filtered_ratings[filtered_ratings['tconst'].isin(filtered_akas['titleId'])]

In [ ]:
filtered_ratings.info()

In [ ]:
keepers =filtered_basics['tconst'].isin(filtered_akas['titleId'])
keepers

In [ ]:
filtered_basics = filtered_basics[keepers]
filtered_basics

In [ ]:
merged_data = pd.merge(filtered_basics, filtered_ratings, on='tconst', how='inner')

In [ ]:
merged_data.head()

In [ ]:
filtered_basics

In [ ]:
df = filtered_basics.copy()

In [ ]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

In [ ]:
exploded_genres = df.explode('genres_split')
exploded_genres

In [ ]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [ ]:
# Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

In [ ]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres.head()

In [ ]:
## Manually make dataframe with namesd cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                             'Genre_ID': genre_map.values()})
genre_lookup.head()

In [ ]:
## get max string length
max_str_len = df['tconst'].fillna('').map(len).max()

In [ ]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = df['tconst'].fillna('').map(len).max()
title_len = df['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}
df_schema

In [ ]:
# Drop unwanted columns
df.drop(columns=['originalTitle', 'isAdult','titleType', 'genres', 'genres_split'], inplace=True)
df.head()

In [ ]:
# Create connection string using credentials following this format
# connection_str = "mysql+pymysql://root:Corporate$01@localhost/books"
# db_name = "tmdb"

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(connection)
engine

In [ ]:
# Save to sql with dtype and index=False
df.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
schema_1 = """SELECT *
FROM title_basics
LIMIT 5;"""
pd.read_sql(schema_1, engine)

In [ ]:
schema_2 = """SELECT *
FROM title_genres
LIMIT 5;"""
pd.read_sql(schema_2, engine)

In [ ]:
#read in ratings file
df_ratings = filtered_ratings.copy()
df_ratings

In [ ]:
key_len_ratings = df_ratings['tconst'].fillna('').map(len).max()
schema_ratings = {
    "tconst": String(key_len_ratings+1),
    'averageRating':Float(),
    'numVotes':Integer(),}
schema_ratings

In [ ]:
df_ratings.to_sql('title_ratings',engine,dtype=schema_ratings,if_exists='replace',index=False)
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [ ]:
schema_3 = """SELECT *
FROM title_ratings
LIMIT 5;"""
pd.read_sql(schema_3, engine)

In [ ]:
key_len_genre = genre_lookup['Genre_Name'].fillna('').map(len).max()
schema_genre = {
    "Genre_Id": Integer(), 
    "Genre_Name": String(key_len_genre+1)}
schema_genre

In [ ]:
genre_lookup.to_sql('genres',engine,dtype=schema_genre,if_exists='replace',index=False)
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`genre_id`);')

In [ ]:
schema_4 = """SELECT *
FROM title_ratings
LIMIT 5;"""
pd.read_sql(schema_4, engine)

In [ ]:
df_tmdb = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
df_tmdb.head()

In [ ]:
# Drop unwanted cols
df_tmdb = df_tmdb[['imdb_id','revenue', 'budget']]
df_tmdb.head()

In [ ]:
null_rows = df_tmdb[df_tmdb.isnull().any(axis=1)]
null_rows

In [ ]:
#remove null rows from dataframe
df_tmdb = df_tmdb.loc[df_tmdb['imdb_id'] != '0']
df_tmdb.shape

In [ ]:
df_tmdb.head()

In [ ]:
key_len_tmdb = df_tmdb['imdb_id'].fillna('').map(len).max()
schema_tmdb = {
    "imdb_id": String(key_len_tmdb+1),
    'revenue':Float(),
    'budget':Float(),}
schema_tmdb

In [ ]:
df_tmdb.to_sql('tmdb_data',engine,dtype=schema_tmdb,if_exists='replace',index=False)
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)