# <center><u>Project 2 - Part 3B: Transform and Load (Core)</u>
* Authored By: Eric N Valdez
* Date: 1/18/2024

## <u>Part 3B:</u>* For part 3 of the project you will be practicing applying an E.T.L process on your previously downloaded movie data. Specifically, you will prepare the TMDB API data and the Genres data from the title basics file for your SQL Database.ase

### __Specifications - Adding to the Database__

Your stakeholder wants you to take the data you have been cleaning and collecting in the previous parts of the project and wants you to add their data as tables to your SQL databtabase

### <u>Adding Genres to the Database</u>
For this part of the project, you will __revisit the title basics csv file from Part 1 to extract and normalize the genres column__ to add to your MySQL database.s:

* Your database should already have two empty tables that you created during Project 2 - Part 2: "genres" and "title_genres,
* Normalize the Genre column from title basics to prepare the data for your two genres tables:

### <u>Convert the single string of genres from title basics into 2 new tables.

1. title_genres: with the columns
   
       - tconst(movie id)
       - "genre_id" (and integer id)

2. genres:
   
       - "genre_id" (an integer id)
       - "genre_name" (full name of genre)

### **Additionally, they want you to create a new table with some of the data from your TMDB API Calls:**

1. __Make a "tmdb_data" table, with the following columns:__

    - "imdb_id" (movie ids from API. Also the same values as tconst)
    - "revenue"
    - "budget"
    - "certification" (G, PG, PG-13,R, etc.)

## <u>Imports

In [ ]:
import pandas as pd

## <u>I) Normalizing Genres - Overview

* Converting string title_basics 2 new tables

In [ ]:
# Creating genre tables
basics['genres_split'] = basics['genre'].str.split[',']
basics

In [ ]:
exploded_genres = basics.explode('genres_split')
exploded_genres

In [ ]:
# Explode the series using .explode() and take the .unique() entries only
unique_genres = genres_split.explode().unique()
unique_genres

In [ ]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

* New genre Tables
### <u>2. Create a new title_genres table

In [ ]:
# Saving just tconst and genres_split a new basics (df)
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

### <u>3. Create a genre mapper dictionary to replace string genres with integers

In [ ]:
# Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
# Makking a dictionary with list of unique genres as the key and the new integer id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

### <u>4. Replace the string genres in title_genres with the new integer ids.

In [ ]:
# Making new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].map(genre_map)
basics = basics.drop(columns='genres_split')

### <u>5. Convert the genre map dictionary into a dataframe.

In [ ]:
# Manually making dataframe (basics) with named cols from .keyd and .values
genre_lookup = pd.DataFrame/basics({'Genre_Name': genre_id_map.keys(),
                                   'Genre_ID': genre_id_map.values()})

## <u>II) Creating MySQL tables with a primary key using Python

In [ ]:
# Setting the dataframe/basics index and use index=True 
basics/df.set_index('genre_id').to_sql('genres',conn, index=True)

### Using tconst (or imdb_id) as the primary key.

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/"
engine = create_engine(connection)

### <u>1. Creating a data type schema for to_sql:

<u>.dtypes

In [ ]:
Genre_ID.dtypes

In [ ]:
# Getting max string length
max_str_len = df['column'].fillna('').map(len).max()

In [ ]:
Genre_Name.dtypes

In [ ]:
# Getting max string length
max_str_len = df['column'].fillna('').map(len).max()

In [ ]:
## Example
from sqlalchemy.types import *
## Calculating max string lengths for object columns
key_len = tmdb['imdb_id'].fillna('').map(len).max()
cert_len = basics['certification'].fillna('').map(len).max()
# Creating a schema dictonary using Sqlalchemy datatype objects
# ### basics/df_schema = {
#     "imdb_id": CHAR(key_len+1), 
#     "budget": FLOAT(),
#     "revenue": FLOAT(),
#     'certification':CHAR(key_len+1)}

### <u>2. Run (df/basics).to_sql with the dtype argument.

In [ ]:
# Saving to sql with dtype and index=False
tmdb.to_sql('tmdb_data',conn, dtype=df_schema, if_exists='replace',index=False)

### <u>3. Run the query to ADD PRIMARY KEY

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

### <u>title_genres and genres

In [ ]:
# q = '''SHOW TABLES;'''
# pd.read_sql(q, engine)

## <u>Describe

In [ ]:
q = '''DESCRIBE title_genres;'''
pd.read_sql(q, engine)

In [ ]:
q = '''DESCRIBE genres;'''
pd.read_sql(q, engine)

## <u>SELECT

In [ ]:
q = """SELECT * FROM title_genres LIMIT 5"""
pd.read(q, conn)

In [ ]:
q = """SELECT * FROM genres LIMIT 5"""
pd.read(q, conn)